    <div id="accordion" class="panel-group payments-method">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <img  href="{{ path('homepage') }}" src="{{ asset('bundles/frontend/img/api-project/mp.png') }}" alt="MyCasaParticular" class="img-responsive" style="margin-top: -10px">
                </div>
                <h5 class="panel-title">
                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="" aria-expanded="true">API-MyCasaParticular-Web</a>
                </h5>
            </div>
            <div class="panel-collapse collapse" id="collapseOne" aria-expanded="true" style="">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-10">
                            <h2>Detalles</h2>
                            <strong>Producto</strong>: Api-v1.0.0.0 alfa <br>
                            <strong>Creada</strong>: Mayo 17,2015 <br>
                            <p class="m-t">
                            </p>
                            <small class="block text-muted linkExternal" href="{{ path('nelmio_api_doc_index',{"view":"default"}) }}" style="cursor: pointer">
                                Leer más
                                <i class="fa fa-external-link"></i>
                            </small>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        {#<div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <img  href="{{ path('homepage') }}" src="{{ asset('bundles/frontend/img/api-project/mp.png') }}" alt="MyCasaParticular" class="img-responsive" style="margin-top: -10px">
                </div>
                <h5 class="panel-title">
                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="" aria-expanded="true">API-MyCasaParticular-Movil</a>
                </h5>
            </div>
            <div class="panel-collapse collapse" id="collapseTwo" aria-expanded="true" style="">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-10">
                            <h2>Detalles</h2>
                            <strong>Producto</strong>: Api-v1.0.0.0 alfa <br>
                            <strong>Creada</strong>: Mayo 17,2015 <br>
                            <p class="m-t">
                            </p>
                            <small class="block text-muted linkExternal" href="{{ path('nelmio_api_doc_index',{"view":"default"}) }}" style="cursor: pointer">
                                Leer más
                                <i class="fa fa-external-link"></i>
                            </small>
                        </div>

                    </div>


                </div>
            </div>
        </div>#}

    </div>