<div class="background clearfix animated fadeIn">
<div fitHeight id="add-user-modal" class="side-form animated fadeInRight">
<div class="inmodal">
    <form name="registerform" ng-submit="uc.saveUser(registerform)" ng-validate="uc.rules" role="form" id="form-gest-user">
        {#<div class="modal-header">#}
            {#<i class="fa fa-user modal-icon"></i>#}
            {#{% verbatim %}#}
                {#<h4 class="modal-title">{{ uc.title }}</h4>#}
            {#{% endverbatim %}#}
            {#&#123;&#35;<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>&#35;&#125;#}
        {#</div>#}
        <div class="modal-body">
            <div id="error-container-form-user" class="error-container hide"></div>
                <div class="form-group">
                    {{ form_widget(form.name, { 'attr': {'ng-model':"uc.user.name",'placeholder': 'Nombre'|trans, 'title':'Nombre del usuario'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.lastname, { 'attr': {'ng-model':"uc.user.lastname",'placeholder': 'Apellidos'|trans, 'title':'Apellido del usuario'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.email, { 'attr': {'ng-model':"uc.user.email",'placeholder': 'Correo'|trans, 'title':'Correo electrónico del usuario'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.password.first, { 'attr': {'ng-model':"uc.user.password_first", 'placeholder': 'Contraseña'|trans, 'title':'Contraseña del usuario'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.password.second, { 'attr': {'ng-model':"uc.user.password_second",'placeholder': 'Confirmación de contraseña'|trans, 'title':'Confirmación de Contraseña'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{  form_widget(form.user_roles, { 'attr': {'chosen':"", 'ng-model':"uc.user.roles", 'title': 'Roles'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'chosen-select' }}) }}
                </div>

        </div>
        <div class="modal-footer">
            <a class="btn btn-white" ui-sref="user.administrar">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
</div>
</div>
