{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hotel list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Url</th>
                <th>Geolocalizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hotel_show', { 'id': entity.codigo }) }}">{{ entity.codigo }}</a></td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.geolocalizacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('hotel_show', { 'id': entity.codigo }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('hotel_edit', { 'id': entity.codigo }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('hotel_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
