<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Gestionar Marca' | trans }}</h4>
    </div>

        <div class="modal-body clearfix">
            <div id="error-container-form-user" class="error-container hide"></div>
            <form name="marcaform" ng-validate="" role="form" id="form-marca">
                <div class="col-sm-6">
                    {#<div class="form-group">#}
                        {#{{ form_widget(marca_form.nombre, { 'attr': {'ng-model':"modal_nombre",'placeholder': 'Nombre'|trans, 'title':'Nombre de la Gastronomia'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}#}
                    {#</div>#}
                    <div class="form-group">
                        <label>{{ 'Agregar Estilo' | trans }}</label>
                        <div flow-init
                             flow-file-added="marcaAdded( $file, $event, $flow )">

                            <input type="file" flow-btn/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">{{ 'Close' | trans }}</button>
            <button type="button" class="btn btn-primary" ng-click="saveMarca()">{{ 'Save' | trans }}</button>
        </div>

</div>