<div class="background clearfix">
    <div fitHeight id="add-hotel-modal" style="width: 100%;" class="side-form animated fadeInRight">
        <div class="inmodal">
            <form name="registerform" ng-submit="ho.saveHotel(registerform)" ng-validate="ho.rules" role="form" id="form-hotel">
                {#<div class="modal-header">#}
                    {#<i class="fa fa-building-o modal-icon"></i>#}
                    {#{% verbatim %}#}
                        {#<h4 class="modal-title">{{ ho.title }}</h4>#}
                    {#{% endverbatim %}#}
                {#</div>#}
                <div class="modal-footer">
                    <a class="btn btn-white" ui-sref="hotel.administrar">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-md-4">
                        <div class="row">{{ include('BackEndBundle:Hotel:list_all_hotel.html.twig') }}</div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div id="error-container-form-user" class="error-container hide"></div>
                            <div class="input-group m-b">
                                <span class="input-group-addon">http://</span>
                                {{ form_widget(form.url, { 'attr': {'ng-model':"ho.hotel.url",'placeholder': 'Url Hotel'|trans, 'title':'Url para el hotel'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                                <span class="input-group-addon">.cubanacan.com</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="hide form-group">
                                {{ form_widget(form.geolocalizacion, { 'attr': {'ng-model':"ho.hotel.geolocalizacion",'placeholder': 'Geolocalizacion'|trans, 'title':'Geolocalizacion'|trans, 'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                            </div>
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ 'Latitud' | trans }}</span>
                                            <input ng-model="ho.latitud" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ 'Longitud' | trans }}</span>
                                            <input ng-model="ho.longitud" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <a ng-show="show_map == false" ng-init="show_map = false" ng-click="show_map = true" class="btn btn-white btn-bitbucket"><i class="fa  fa-map-marker"></i></a>
                                        <a ng-show="show_map == true" ng-click="show_map = false" class="btn btn-primary btn-bitbucket"><i class="fa  fa-map-marker"></i></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div ng-show="show_map == true" class="col-sm-12 form-group">
                                <ui-gmap-google-map center='ho.map.center' zoom='ho.map.zoom' events='ho.map.events'>
                                    <ui-gmap-marker
                                            idKey='ho.marker.idKey'
                                            coords='ho.marker.coords'
                                            options="ho.marker.options"
                                            events='ho.marker.events'
                                    >
                                    </ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row m-b">
                                <div class="col-sm-12">
                                    {{ include('BackEndBundle:Hotel:tabla_marca.html.twig') }}
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-sm-6">
                                    {{ include('BackEndBundle:Hotel:tabla_th.html.twig') }}
                                </div>
                                <div class="col-sm-6">
                                    {{ include('BackEndBundle:Hotel:tabla_motivos.html.twig') }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ include('BackEndBundle:Hotel:tabla_servicios.html.twig') }}
                                </div>
                                <div class="col-sm-6">
                                    {{ include('BackEndBundle:Hotel:tabla_gastronomia.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-white" ui-sref="hotel.administrar">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal_gastronomia" class="hide">
    {{ include('BackEndBundle:Hotel:modal_new_gastronomia.html.twig') }}
</div>
<div id="modal_marca" class="hide">
    {{ include('BackEndBundle:Hotel:modal_marca.html.twig') }}
</div>
<div id="modal_th" class="hide" data-template='{{ include('BackEndBundle:Hotel:modal_th.html.twig') }}'>
    {#{{ include('BackEndBundle:Hotel:modal_th.html.twig') }}#}
</div>

