<div class="ibox-content">
    <h2>{{ 'Tipo de Habitación' | trans }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <th>{{ 'Nombre' | trans }}</th>
            <th style="text-align:right">{{ 'Acciones' | trans }}</th>
        </tr>
        </thead>
        {% verbatim %}
        <tbody>
        <tr ng-repeat="tipo_h in ho.hotel.hotel_th">
            <td>{{ tipo_h.roomTypeId }}</td>
            <td>{{ tipo_h.roomTypeName }}</td>
            <td class="ibox-tools">
                <a href="" ng-click="ho.listRoomServices(ho.hotel.hotel_selected, tipo_h.roomTypeId)"><i class="fa fa-bars"></i></a>
            </td>
        </tr>
        </tbody>
        {% endverbatim %}
    </table>
</div>
</div>