<div class="ibox-content">
    <h2>{{ 'Servicios' | trans }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <th>{{ 'Codigo' | trans }}</th>
            <th style="text-align:right">{{ 'Acciones' | trans }}</th>
        </tr>
        </thead>
        {% verbatim %}
        <tbody>
        <tr ng-repeat="servicios in ho.hotel.hotel_servicios">
            <td>{{ servicios.id }}</td>
            <td>{{ servicios.description }}</td>
            <td class="ibox-tools">
                <a href=""><i class="fa fa-cog"></i></a>
            </td>
        </tr>
        </tbody>
        {% endverbatim %}
    </table>
</div>
</div>