<div class="nav">
    <ul class="slimmenu" id="slimmenu">
        <li class="active"><a href="index.html">{{ 'inicio' | trans }}</a></li>
        <li><a href="success-payment.html">{{ 'reservar' | trans }}</a></li>
        <li><a href="feature-typography.html">{{ 'habitaciones' | trans }}</a></li>
        <li><a href="hotels.html">{{ 'gastronomia' | trans }}</a></li>
        <li><a href="flights.html">{{ 'servicios & actividades' | trans }}</a></li>
        <li><a href="rentals.html">{{ 'galeria' | trans }}</a></li>
        <li><a href="cars.html">{{ 'motivos' | trans }}</a></li>
        <li><a href="activities.html">{{ 'comentarios' | trans }}</a></li>
        <li><a href="activities.html">{{ 'contacto' | trans }}</a></li>
    </ul>
</div>