{% extends 'BackEndBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'Autenticarse'|trans }}{% endblock %}
{% block navbar %}
{% endblock %}
{% block carousel %}
{% endblock %}
{% block body_class %}gray-bg{% endblock body_class %}
{% block body %}
    <div id="login-form" class="container loginColumns animated fadeInDown">
        <!--hr-->
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Administración</h2>
                <p style="text-align: justify"></p>
            </div>


            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" action="{{ path("backend_login_check") }}" method="post">
                        <div class="text-03em">
                            <div class="alert alert-danger text-center {{ error | default('') == '' ? "hide" : "" }}">
                                <span class="text-danger">{{ error | default ('') |trans({}, 'FOSUserBundle') }}</span>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <div class="form-group">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required" placeholder="{{ 'Usuario'|trans }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="_password" required="required"
                                   placeholder="{{ 'Contraseña'|trans }}" class="form-control"/>
                        </div>
                        <button type="submit"
                                class="btn btn-primary block full-width m-b">{{ 'Inicia sesión'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <a href="{{ path('homepage') }}" target="_blank">Ir al Sitio...</a>
            </div>
            <div class="col-sm-1"> </div>
            <div class="col-md-6 text-right">
                <small>&copy; 2015-2016</small>
            </div>
        </div>
        <!--hr-->
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}