{{ include('BackEndBundle:Skeleton:menu.html.twig') }}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <span minimaliza-sidebar></span>
            </div>
            <div class="navbar-header">
                <div class="form-group col-sm-12">
                    <div current-page></div>
                </div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out"></i> {{ 'Salir' | trans }}
                    </a>
                </li>
                <li style="vertical-align: top; margin-top: 6px;">
                    <a id="a-changeLocale" class="no-search">
                        {#<select id="changeLocale" class="chosen-select-deselect form-control" onchange="window.location = this.value">
                        {% for language in language_repository.findAll() %}
                        {% set active = "" %}
                        {% set url = app.request.get('_route') %}
                        {% set url_params = app.request.get('_route_params') %}
                        {% if app.request.locale == language.code %}
                        {% set active = 'selected=selected' %}
                        {% endif %}
                        <option {{ active }} value="{{ url(url, url_params|merge({'_locale':language.code})) }}">{{ language.code | upper }}</option>
                        {% endfor %}
                    </select>#}
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <!-- Main view  -->
    <div class="main-view row" ui-view></div>
    {#<div class="row" style="margin-top: 5px">#}
        {#{{ include('BackEndBundle:Skeleton:tabPanel.html.twig') }}#}
    {#</div>#}
</div>