<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundle/frontend/img/cubanacan.ico') }}" />

    <title>HOTELES | Dashboard</title>
    {{ include('BackEndBundle:Skeleton:css.html.twig') }}

</head>

<body class="{{ '{{ $state.current.data.specialClass }}' }}" landing-scrollspy id="page-top">
<div ui-view></div>
</div>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&libraries=places"></script>
{{ include('BackEndBundle:Skeleton:javascript.html.twig') }}
{{ include('BackEndBundle:Skeleton:angular_services.html.twig') }}
{{ include('BackEndBundle:Skeleton:angular_config.html.twig') }}
{{ include('BackEndBundle:Skeleton:angular_controler.html.twig') }}
{{ include('BackEndBundle:Skeleton:angular_directives.html.twig') }}

</body>
</html>
